<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Main.Main"
            android:label="Suas Receitas"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Cadastros.CadastroReceita"
            android:label=" "
            android:parentActivityName=".Main.Main"
            android:theme="@style/Appthemecad.NoActionBar" />
        <activity
            android:name=".Cadastros.CadastroUsuario"
            android:label="Cadastro"
            android:theme="@style/Appthemecad" />
        <activity
            android:name=".Login.Login"
            android:label=""
            android:parentActivityName=".Main.Main"
            android:theme="@style/AppThemeLogin.NoActionBar" />
    </application>

</manifest>